@using POSTerminalWebApp.Services
@inject IMenuService MenuService

@{
    var icon = "bx bx-collection";
    var arrow = "bx bxs-chevron-down arrow";
}

<!-- Sidebar section -->
<div class="sidebar open" id="sidebar_statement">
    <div class="logo-details">
        <img src="@Url.Content("~/rtc-logo.png")"/>
        <span class="logo_name">RTC App</span>
    </div>

    <ul class="nav-links">
        @foreach (var menuItem in MenuService.GetMenu())
        {
            <li>
                <div class="iocn-link">
                    <a href="@menuItem.Url">
                        <i class='@menuItem.Icon'></i>
                        <div class="link_name">@menuItem.Title</div>
                    </a>
                    @if (menuItem.SubMenuItems != null && menuItem.SubMenuItems.Any())
                    {
                        <i class='@arrow'></i>
                    }
                </div>
                @if (menuItem.SubMenuItems != null && menuItem.SubMenuItems.Any())
                {
                    <ul class="sub-menu">
                        <li>
                            <a class="link_name" href="@menuItem.Url">@menuItem.Title</a>
                        </li>
                        @foreach (var subMenuItem in menuItem.SubMenuItems)
                        {
                            <li>
                                <a href="@subMenuItem.Url">@subMenuItem.Title</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }

        @if (User.Identity.Name == "a@rtc.ru")
        {
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="@Url.Content("~/terminal-profile-image.png")" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Терминал</div>
                        <div class="job">PoSTerminalApp</div>
                    </div>
                    <form class="mb-0" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="btn">
                            <i class="bx bx-log-out"></i>
                        </button>
                    </form>
                </div>
            </li>
        }
    </ul>
</div>