@using POSTerminal.Services
@using Microsoft.IdentityModel.Tokens
@model InstructionItem
@inject IInstructionsService InstructionsService

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

@{
    var title = "ИНСТРУКТАЖИ";
    var picSrc = "/phishing.jpg";
}

<div class="h1 text-center text-dark" id="pageHeaderTitle">@title</div>
    @if (User.Identity.Name == "admin@rtc.ru")
    {
        <div class="newsActions">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#CreateModal">
                <i class="actionsBtn far fa-plus"> Добавить инструкцию</i>
            </button>
        </div>
    }

<input type="hidden" id="NewsId" />
<div class="container py-2">
    <section class="main_c">
        @foreach (var instructionItem in InstructionsService.GetInstructions())
        {
            <div class="wrap wrap--1">
                @{
                    string? redirectLink;
                }
                @if (instructionItem.DocumentId != null)
                {
                    redirectLink = "Viewer/" + @instructionItem.LinkToPage + "_" + @instructionItem.DocumentId;
                }
                else
                {
                    redirectLink = "Viewer/" + @instructionItem.LinkToPage;
                }
                
                <div as class="article-card" onclick="redirectToPage('@redirectLink')">
                
                    <div class="content" style="flex-wrap: nowrap">
                        <p class="title" style="font-weight:900">@instructionItem.Title</p>
                        @* <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal" onclick="event.stopPropagation();"> *@
                        @*     <i class="actionsBtn far fa-plus"> Удалить</i> *@
                        @* </button> *@
                        @if (User.Identity.Name == "admin@rtc.ru")
                        {
                            <div style="margin-top: 10px">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal"
                                        onclick="event.stopPropagation(); EditForm(@instructionItem.Id);" id="showModal">
                                    <i class="actionsBtn far fa-edit"> Редактировать</i>
                                </button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal"
                                        onclick="event.stopPropagation(); ConfirmDelete(@instructionItem.Id);" id="showModal">
                                    <i class="actionsBtn far fa-trash-alt"> Удалить</i>
                                </button>
                            </div>
                        }
                    </div>
                    @* <img src="@instructionItem.ImageUrl" alt="article-cover"/> *@
                    @if (instructionItem.Image != null)
                    {
                        var base64Image = Convert.ToBase64String(instructionItem.Image.Image);
                        <img src="data:image/png;base64,@base64Image" alt="article-cover"/>
                    }
                    else if (!instructionItem.ImageUrl.IsNullOrEmpty())
                    {
                        <img src="@instructionItem.ImageUrl" alt="article-cover"/>
                    }
                </div>
            </div>
        }
    </section>
</div>

@* Add new news *@
<div class="modal fade" id="CreateModal" tabindex="0" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true" style="">
    <form id="saveForm" asp-controller="Instructions" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Добавить инструкцию</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label asp-for="Title" class="control-label">Заголовок</label>
                        <input asp-for="Title" type="text" class="form-control" placeholder="Название инструкции" required />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label">Загрузить обложку (изображение)</label>
                        <div class="input-group mb-3">
                            <label class="btn btn-light border">
                                Нажмите, чтобы загрузить с устройства
                                <input asp-for="Image" type="file" class="form-control" id="inputGroupFile02" style="opacity: 0; position: absolute;">
                            </label>
                            <input asp-for="ImageUrl" type="text" class="form-control" id="newsPicSrc" placeholder="Или адрес для загрузки по ссылке">
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label asp-for="Document" class="control-label">Загрузить документ (PDF)</label>
                        <input asp-for="Document" class="form-control" type="file" id="formFile" placeholder="Загрузите инструкцию">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>

@* Delete news *@

<div class="modal fade" id="EditModal" tabindex="0" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true" style="">
    <form id="EditForm" asp-controller="Instructions" asp-action="Update" method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Изменить инструкцию</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">Заголовок</label>
                        <input asp-for="Id" class="updateId" type="hidden"/>
                        <input asp-for="Title" type="text" class="form-control" id="newsTitle" placeholder="Название инструкции" required />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label">Загрузить обложку (изображение)</label>
                        <div class="input-group mb-3">
                            <label class="btn btn-light border">
                                С устройства
                                <input asp-for="Image" type="file" class="form-control" id="newsImg" style="opacity: 0; position: absolute;">
                            </label>
                            <input asp-for="ImageUrl" type="text" class="form-control" id="newsImgUrl" placeholder="Или адрес для загрузки по ссылке">
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label asp-for="Document" class="control-label">Загрузить документ (PDF)</label>
                        <input asp-for="Document" class="form-control" type="file" id="newsFile" placeholder="Загрузите инструкцию">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="saveForm" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Удалить инструкцию</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Вы уверены, что хотите удалить эту инструкцию?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Закрыть</button>
                    <button id="btnDelete" type="button" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/Views/Instructions/Index.cshtml.js" asp-append-version="true"></script>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#btnSave').click(function () {
            var newsForm = $('#saveForm').serialize();
            $.ajax({
                type: "POST",
                url: "/Instructions/Create/",
                data: newsForm,
                success: function () {
                    $('#CreateModal').modal('hide');
                    window.location.href = "/Instructions";
                }
            })
        })
        
        $('#btnDelete').click(function () {
            var idD = $('#NewsId').val();
                $.ajax({
                    type: "POST",
                    url: "/Instructions/Delete/",
                    data: { id: idD },
                    success: function (result) {
                        if (result) {
                            $('#NewsId').val(null);
                            $('#DeleteModal').modal('hide');
                            window.location.href = "/Instructions";
                        }
                        else {
                            alert("Не удалось удалить инструкцию");
                        }
                    }
                })
            })
        })
        
        var ConfirmDelete = function (id) {
            $('#NewsId').val(id);
            $('#DeleteModal').modal('show');
        }
        
        var EditForm = function (id) {
            $.ajax({
                type: "POST",
                url: "/Instructions/GetInstructions/",
                data: { id: id },
                success: function (news) {
                    $('#EditModal').modal('show');
                    $('#newsTitle').val(news.title);
                    $('#newsImgUrl').val(news.imageUrl);
                    $('#newsImg').val(news.image);
                    $('.updateId').val(news.id);
                }
            })
        }
    </script>
}
