@using POSTerminal.Services
@inject IInstructionsService InstructionsService

@model InstructionItem

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

@{
    var title = "ИНСТРУКТАЖИ";
    var picSrc = "/phishing.jpg";
}

<div class="h1 text-center text-dark" id="pageHeaderTitle">@title</div>
    @if (User.Identity.Name == "admin@rtc.ru")
    {
        <div class="newsActions">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#CreateModal">
                <i class="actionsBtn far fa-plus"> Добавить новость</i>
            </button>
        </div>
    }

<input type="hidden" id="NewsId" />
<div class="container py-2">
    <section class="main_c">
        @foreach (var instructionItem in InstructionsService.GetInstructions())
        {
            <div class="wrap wrap--1">
                <div class="article-card" onclick="redirectToPage('@instructionItem.LinkToPage')">
                    <div class="content" style="flex-wrap: nowrap">
                        <p class="title" style="font-weight:900">@instructionItem.Title</p>
                        @* <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal" onclick="event.stopPropagation();"> *@
                        @*     <i class="actionsBtn far fa-plus"> Удалить</i> *@
                        @* </button> *@
                        @if (User.Identity.Name == "admin@rtc.ru")
                        {
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal"
                                    onclick="event.stopPropagation(); EditForm(@instructionItem.Id);" id="showModal">
                                <i class="actionsBtn far fa-trash-alt"> Редактировать</i>
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal"
                                    onclick="event.stopPropagation(); ConfirmDelete(@instructionItem.Id);" id="showModal">
                                <i class="actionsBtn far fa-trash-alt"> Удалить</i>
                            </button>
                        }
                    </div>
                    <img src="@instructionItem.ImageUrl" alt="article-cover"/>
                </div>
            </div>
        }
    </section>
</div>

    @* Add new news *@
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="saveForm" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Добавить инструкцию</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">Заголовок</label>
                        <input asp-for="Title" type="text" class="form-control">
                        <span asp-validation-for="Title" class="text-danger"></span>
                        @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label">Путь к изображению</label>
                        <input asp-for="ImageUrl" type="text" class="form-control">
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Закрыть</button>
                    <button id="btnSave" type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

    @* Delete news *@
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="saveForm" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Удалить инструкцию</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <h5>Вы уверены, что хотите удалить эту инструкцию?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Закрыть</button>
                    <button id="btnDelete" type="button" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>

    @* Edit news *@
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <form asp-action="Update" id="EditForm" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Редактировать инструкцию</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input asp-for="Id" class="updateId" type="hidden" />
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" id="newsTitle">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Id" class="updateId" type="hidden" />
                            <label asp-for="ImageUrl" class="control-label"></label>
                            <textarea asp-for="ImageUrl" class="form-control" rows="18" id="newsContent"></textarea>
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Закрыть</button>
                        <button id="btnSave" type="submit" class="btn btn-primary">Изменить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script src="/Views/Instructions/Index.cshtml.js" asp-append-version="true"></script>

@section Scripts
{
    <script>
        $(document).ready(function () {
                $('#btnSave').click(function () {
                    var newsForm = $('#saveForm').serialize();
                    $.ajax({
                        type: "POST",
                        url: "/Instructions/Create/",
                        data: newsForm,
                        success: function () {
                            $('#CreateModal').modal('hide');
                            window.location.href = "/Instructions";
                        }
                    })
                })
                $('#btnDelete').click(function () {
                                            var idD = $('#NewsId').val();
                                            $.ajax({
                                                type: "POST",
                                                url: "/Instructions/Delete/",
                                                data: { id: idD },
                                                success: function (result) {
                                                    if (result) 
                                                    {
                                                        $('#NewsId').val(null);
                                                        $('#DeleteModal').modal('hide');
                                                        window.location.href = "/Instructions";
                                                    }
                                                    else {
                                                        alert("Не удалось удалить инструкцию");
                                                    }
                                                }
                                            })
                                        })
            })
                    var ConfirmDelete = function (id) {
                        $('#NewsId').val(id);
                        $('#DeleteModal').modal('show');
                    }
                    
                    var EditForm = function (id) {
                        $.ajax({
                            type: "POST",
                            url: "/Instructions/GetInstructions/",
                            data: { id: id },
                            success: function (news) {
                                $('#EditModal').modal('show');
                                $('#newsTitle').val(news.title);
                                $('#newsContent').val(news.imageUrl);
                                $('.updateId').val(news.id);
                            }
                        })
                    }
</script>
}
