@using POSTerminalWebApp.Services
@using POSTerminalWebApp.Views.Home
@using Westwind.AspNetCore.Markdown
@inject INewsService NewsService
@inject IShortcutService ShortcutService

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">
<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">
<link rel="stylesheet" href="~/lib/OwlCarousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="~/lib/OwlCarousel/dist/assets/owl.theme.default.min.css">

@{
    var title = "Новости РТК";
    var readButton = "Полный текст";
}

<section class="light">
    <div class="container py-2">
        <section class="main_c">
            @foreach (var shortcutItem in ShortcutService.GetShortcut())
            {
                <div class="wrap wrap--1">
                    <div class="article-card" onclick="redirectToPage('@shortcutItem.PageUrl')">
                        <div class="content">
                            <!--       <p class="date">Jan 1, 2022</p> -->
                            <p class="title" style="font-weight:900">@shortcutItem.Title</p>
                        </div>
                        <img src="@shortcutItem.ImageUrl" alt="article-cover"/>
                    </div>
                </div>
            }
        </section>

        <div class="line pt-3"></div>
        
        <section class="pt-5">
            @foreach (var newsItem in NewsService.GetNews())
            {
                <article class="postcard light blue" data-bs-toggle="modal" data-bs-target="#modal-@newsItem.Id">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="@newsItem.PicSrc" alt="Image Title"/>
                    </a>
                    <div class="postcard__text t-dark">
                        @* <h1 class="postcard__title red"><a href="#">@newsTitle</a></h1> *@
                        <h1 class="postcard__title red">
                            <a href="#">@newsItem.Title</a>
                        </h1>
                        <div class="postcard__subtitle small">
                            <time datetime="25-05-2023 12:00:00">
                                <i class="fa fa-calendar-alt mr-2"></i>@newsItem.PublishDate
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">
                            @Markdown.ParseHtmlString(
                                NewsAction.GetLimitedWords(newsItem.Content, 15))
                        </div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item">
                                <i class="fa fa-tag mr-2"></i>@newsItem.Tags
                            </li>
                            <li class="tag__item">
                                <i class="fas fa-user-tie mr-2"></i>@newsItem.Author
                            </li>
                            <li class="tag__item">
                                <i class="fa fa-clock mr-2"></i>@newsItem.TimeToRead
                            </li>
                        </ul>
                    </div>
                </article>
        
                <div class="modal fade" id="modal-@newsItem.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    @* TODO: Add "modal-*" property like "modal-lg" *@
                    <div class="modal-dialog modal-dialog-scrollable modal-xl">
                        <div class="modal-content h-100">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">@newsItem.Title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                @* <p>@newsItem.Content</p> *@
                                @* @Markdown.Parse(newsItem.Content) *@
                                @Markdown.ParseHtmlString(newsItem.Content)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>

        @* <section class="game-section pt-3"> *@
        @*     <h2>Актуальные новости</h2> *@
        @*     @*  *@
        @*     TODO: Сделать ширину блока больше ширины страницы, но контент скрывался  *@
        @*     (см <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px);">) *@
        @*     width:4000px;*@ *
        @*     <div class="owl-carousel custom-carousel owl-theme owl-loaded"> *@
        @*             @foreach (var newsItem in NewsService.GetNews()) *@
        @*             { *@
        @*                 <div class="item" style="background-image: url(@newsItem.PicSrc);"> *@
        @*                     <div class="item-desc"> *@
        @*                         <h3>@newsItem.Title</h3> *@
        @*                         <p>@NewsAction.GetLimitedWords(newsItem.Content, 15))</p> *@
        @*                     </div> *@
        @*                 </div> *@
        @*             } *@
        @*     </div> *@
        @* </section> *@

        <footer></footer>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/OwlCarousel/dist/owl.carousel.js" asp-append-version="true"></script>
<script src="~/lib/OwlCarousel/dist/owl.carousel.min.js" asp-append-version="true"></script>

<script src="/Views/Home/Index.cshtml.js" asp-append-version="true"></script>