@using POSTerminalWebApp.Services
@using POSTerminalWebApp.Views.Home
@using Westwind.AspNetCore.Markdown

@inject INewsService NewsService
@inject IShortcutService ShortcutService

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">
<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">
<link rel="stylesheet" href="~/lib/OwlCarousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="~/lib/OwlCarousel/dist/assets/owl.theme.default.min.css">

@{
    var title = "Новости РТК";
    var readButton = "Полный текст";
}

<section class="light">
    <div class="container py-2">
        <section class="main_c">
            @foreach (var shortcutItem in ShortcutService.GetShortcut())
            {
                <div class="wrap wrap--1">
                    <div class="article-card" onclick="redirectToPage('@shortcutItem.PageUrl')">
                        <div class="content">
                            <!--       <p class="date">Jan 1, 2022</p> -->
                            <p class="title" style="font-weight:900">@shortcutItem.Title</p>
                        </div>
                        <img src="@shortcutItem.ImageUrl" alt="article-cover"/>
                    </div>
                </div>
            }
        </section>

        <div class="line pt-3"></div>
        
        <section class="game-section pt-3">
            <h2>Актуальные новости</h2>
            <div class="owl-carousel custom-carousel owl-theme">
                @foreach (var newsItem in NewsService.GetNews())
                {
                    <div class="item" style="background-image: url(@newsItem.PicSrc);">
                        <div class="item-desc">
                            <h3>@newsItem.Title</h3>
                            <p>@NewsAction.GetLimitedWords(newsItem.Content, 15))</p>
                        </div>
                    </div>
                }
            </div>
        </section>
        
        <footer></footer>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/OwlCarousel/dist/owl.carousel.js" asp-append-version="true"></script>
<script src="~/lib/OwlCarousel/dist/owl.carousel.min.js" asp-append-version="true"></script>

<script src="/Views/Home/Index.cshtml.js" asp-append-version="true"></script>