@using POSTerminalWebApp.Services
@using POSTerminalWebApp.Views.News
@using Westwind.AspNetCore.Markdown
@using Microsoft.IdentityModel.Tokens
@using System.Runtime.InteropServices.JavaScript

@inject INewsService NewsService
@inject IShortcutService ShortcutService

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">
<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">
<link rel="stylesheet" href="~/lib/OwlCarousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="~/lib/OwlCarousel/dist/assets/owl.theme.default.min.css">

@{
    var title = "Новости РТК";
    var readButton = "Полный текст";

    var currentYear = DateTime.Now.Year;

    int newsLimit = 3;
    List<NewsItem> limitedNewsItems = NewsService.GetNews().Take(newsLimit).ToList();
}

<section class="light">
    <div class="container py-2">
        <section class="main_c pb-4 border-bottom">
            @foreach (var shortcutItem in ShortcutService.GetShortcut())
            {
                <div class="wrap wrap--1">
                    <div class="article-card" onclick="redirectToPage('@shortcutItem.PageUrl')">
                        <div class="content">
                            <!--       <p class="date">Jan 1, 2022</p> -->
                            <p class="title" style="font-weight:900">@shortcutItem.Title</p>
                        </div>
                        <img src="@shortcutItem.ImageUrl" alt="article-cover"/>
                    </div>
                </div>
            }
        </section>
        
        <section class="pt-2">
            <h4>Актуальные новости</h4>
            @foreach (var newsItem in limitedNewsItems)
            {
                <article class="postcard light blue" data-bs-toggle="modal" data-bs-target="#modal-@newsItem.Id">
                    <a class="postcard__img_link" href="#">
                        @if (!newsItem.PicSrc.IsNullOrEmpty())
                        {
                            <img class="postcard__img" src="@newsItem.PicSrc" alt="Image Title"/>
                        }
                    </a>
                    <div class="postcard__text t-dark">
                        <h1 class="postcard__title red">
                            <a href="#">@newsItem.Title</a>
                        </h1>
                        <div class="postcard__subtitle small">
                            @if (newsItem.PublishDate.TimeOfDay.ToString() == "00:00:00")
                            {
                                <time datetime="25-05-2023 12:00:00">
                                    <i class="fa fa-calendar-alt mr-2"></i>@newsItem.PublishDate.Date.ToString("dd/MM/yyyy")
                                </time>
                            }
                            else
                            {
                                <time datetime="25-05-2023 12:00:00">
                                    <i class="fa fa-calendar-alt mr-2"></i>@newsItem.PublishDate
                                </time>
                            }
                        </div>
                    </div>
                </article>

                <div class="modal fade" id="modal-@newsItem.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-xl">
                        <div class="modal-content h-100">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">@newsItem.Title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                @Markdown.ParseHtmlString(newsItem.Content)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>
        
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 mb-0 border-top">
            <p class="col-md-4 mb-0 text-muted">© 1998-@currentYear ЦНИИ РТК. Все права защищены</p>
        
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" >
                <img src="@Url.Content("~/resources/qr-codes/qr-code-telegram.png")" width="120px" height="120px" style="background:transparent">
            </a>
            
            <ul class="nav col-md-4 justify-content-end" style="flex-wrap: wrap">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Связь с разработчиком</a></li>
            </ul>
        </footer>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/OwlCarousel/dist/owl.carousel.js" asp-append-version="true"></script>
<script src="~/lib/OwlCarousel/dist/owl.carousel.min.js" asp-append-version="true"></script>

<script src="/Views/Home/Index.cshtml.js" asp-append-version="true"></script>