@using POSTerminal.Services
@using Microsoft.IdentityModel.Tokens

@model JobsItem

@inject IJobsService JobsService

@{
    var title = "Вакансии";
}

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

<section class="light">
    <div class="h1 text-center text-dark mb-3" id="pageHeaderTitle">@title</div>
    <h5 class="text-center">тел. 552-15-15, 552-16-00</h5>
    <h5 class="text-center mb-5">hr@rtc.ru, i.ahmetova@rtc.ru</h5>
    @if (User.Identity.Name == "admin@rtc.ru")
    {
        <div class="newsActions">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#CreateModal">
                <i class="actionsBtn far fa-plus"> Добавить вакансию</i>
            </button>
        </div>
    }
        
    <div class="container py-2">
        @foreach (var jobsItem in JobsService.getJobs())
        {
        @* <article class="postcard light blue" data-bs-toggle="modal" data-bs-target="#modal-@jobsItem.Id"> *@
            <article class="postcard light blue">
                @if (!jobsItem.PicSrc.IsNullOrEmpty())
                {
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="@jobsItem.PicSrc" alt="Image Title"/>
                    </a>
                }
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title red">
                        <a href="#">@jobsItem.Vacancy</a>
                    </h1>

                    <h5>Обязанности</h5>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        @jobsItem.Responsibilities
                    </div>

                    <h5>Требования</h5>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        @jobsItem.Requirements
                    </div>
                </div>
            </article>
        }
    </div>
</section>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="saveForm" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Добавить вакансию</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="Vacancy" class="control-label"></label>
                            <input asp-for="Vacancy" type="text" class="form-control">
                            <span asp-validation-for="Vacancy" class="text-danger"></span>
                            @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                        </div>
                        <div class="form-group">
                            <label asp-for="Requirements" class="control-label"></label>
                            <input asp-for="Requirements" type="text" class="form-control">
                            <span asp-validation-for="Requirements" class="text-danger"></span>
                            @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                        </div>
                        <div class="form-group">
                            <label asp-for="Responsibilities" class="control-label"></label>
                            <input asp-for="Responsibilities" type="text" class="form-control">
                            <span asp-validation-for="Responsibilities" class="text-danger"></span>
                            @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                        </div>
                        <div class="form-group">
                            <label asp-for="PicSrc" class="control-label"></label>
                            <input asp-for="PicSrc" type="text" class="form-control">
                            <span asp-validation-for="PicSrc" class="text-danger"></span>
                            @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Закрыть</button>
                        <button id="btnSave" type="button" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section Scripts
{
    <script>
        $(document).ready(function () {
                $('#btnSave').click(function () {
                    var newsForm = $('#saveForm').serialize();
                    $.ajax({
                        type: "POST",
                        url: "/Jobs/Create/",
                        data: newsForm,
                        success: function () {
                            $('#CreateModal').modal('hide');
                            window.location.href = "/Jobs";
                        }
                    })
                })
            })
    </script>
}