@using POSTerminal.Services
@using Microsoft.IdentityModel.Tokens
@using Westwind.AspNetCore.Markdown

@model JobsItem

@inject IJobsService JobsService

@{
    var title = "Вакансии";
}

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

<section class="light">
    <div class="h1 text-center text-dark mb-3" id="pageHeaderTitle">@title</div>
    <h5 class="text-center">тел. 552-15-15, 552-16-00</h5>
    <h5 class="text-center mb-5">hr@rtc.ru, i.ahmetova@rtc.ru</h5>
    @if (User.Identity.Name == "admin@rtc.ru")
    {
        <div class="newsActions">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#CreateModal">
                <i class="actionsBtn far fa-plus"> Добавить вакансию</i>
            </button>
        </div>
    }
        
    <input type="hidden" id="NewsId" />
    <div class="container py-2">
        @foreach (var jobsItem in JobsService.getJobs())
        {
        @* <article class="postcard light blue" data-bs-toggle="modal" data-bs-target="#modal-@jobsItem.Id"> *@
            <article class="postcard light blue">
                @if (jobsItem.Image != null)
                {
                    var base64Image = Convert.ToBase64String(jobsItem.Image.Image);
                    <a class="postcard__img_link" data-bs-toggle="modal" data-bs-target="#modal-@jobsItem.Id">
                        <img class="postcard__img" src="data:image/png;base64,@base64Image" alt="Image Title"/>
                    </a>
                }
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title red">
                        <a href="#">@jobsItem.Vacancy</a>
                    </h1>

                    <h5>Обязанности</h5>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        @Markdown.ParseHtmlString(jobsItem.Responsibilities)
                    </div>

                    <h5>Требования</h5>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        @Markdown.ParseHtmlString(jobsItem.Requirements)
                    </div>
                    
                    @if (User.Identity.Name == "admin@rtc.ru")
                    {
                        <br/>
                        <div style="width: 100%; display: inline-flex; flex-wrap: nowrap">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal"
                                    onclick="event.stopPropagation(); EditForm(@jobsItem.Id);" id="showModal" style="width: 100%; margin-right: 5px">
                                <i class="actionsBtn far fa-trash-alt"> Редактировать</i>
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal"
                                    onclick="event.stopPropagation(); ConfirmDelete(@jobsItem.Id);" id="showModal" style="width: 100%">
                                <i class="actionsBtn far fa-trash-alt"> Удалить</i>
                            </button>
                        </div>
                    }
                </div>
            </article>
        }
    </div>
</section>

@if (User.Identity.Name == "admin@rtc.ru")
{
<div class="modal fade" id="CreateModal" tabindex="0" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true" style="">
    <form id="saveForm" asp-controller="Jobs" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Добавить вакансию</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Vacancy" class="control-label">Вакансия</label>
                        <input asp-for="Vacancy" type="text" class="form-control" placeholder="Заголовок новости" required />
                        <span asp-validation-for="Vacancy" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label asp-for="Requirements" class="control-label">Требования</label>
                        <textarea asp-for="Requirements" type="text" rows="5" class="form-control" placeholder="Содержимое" required ></textarea>
                        <span asp-validation-for="Requirements" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label asp-for="Responsibilities" class="control-label">Обязанности</label>
                        <textarea asp-for="Responsibilities" type="text" rows="5" class="form-control" placeholder="Содержимое" required ></textarea>
                        <span asp-validation-for="Responsibilities" class="text-danger"></span>
                    </div>
                        
                    <br/>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label">Загрузить изображение</label>
                        <div class="input-group mb-3">
                            <label class="btn btn-light border">
                                Нажмите, чтобы загрузить с устройства
                                <input asp-for="Image" type="file" class="form-control" id="inputGroupFile02" style="opacity: 0; position: absolute;">
                            </label>
                            <input asp-for="PicSrc" type="text" class="form-control" id="formPicSrc" placeholder="Или адрес для загрузки по ссылке">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>

@* Edit news *@
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    
    <form id="EditForm" asp-controller="Jobs" asp-action="Update" method="post" enctype="multipart/form-data">

    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать инструкцию</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="Id" class="updateId" type="hidden"/>
                        <label asp-for="Vacancy" class="control-label">Вакансия</label>
                        <input asp-for="Vacancy" type="text" id="formControlVacancy" class="form-control">
                        <span asp-validation-for="Vacancy" class="text-danger"></span>
                        @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                    </div>
                    <div class="form-group">
                        <input asp-for="Id" class="updateId" type="hidden" />
                        <label asp-for="Requirements" class="control-label">Требования</label>
                        <textarea asp-for="Requirements" class="form-control" id="formControlRequirements" rows="3" placeholder="Ваше сообщение" required></textarea>
                        <span asp-validation-for="Requirements" class="text-danger"></span>
                        @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                    </div>

                    @* <div class="form-group"> *@
                    @*     <body data-editor="ClassicEdit" data-collaboration="false" data-revision-history="false"> *@
                    @*     <div class="centered"> *@
                    @*         <div class="row row-editor"> *@
                    @*             <div class="editor-container"> *@
                    @*                 <textarea asp-for="Requirements" name="editorREQP" class="form-control" id="editorREQP" style="display: none;"></textarea> *@
                    @*                 <div class="editorREQP"></div> *@
                    @*             </div> *@
                    @*         </div> *@
                    @*     </div> *@
                    @*     </body> *@
                    @* </div> *@

                    <div class="form-group">
                        <input asp-for="Id" class="updateId" type="hidden" />
                        <label asp-for="Responsibilities" class="control-label">Обязанности</label>
                        <textarea asp-for="Responsibilities" class="form-control" id="formControlResponsibilities" rows="3" placeholder="Ваше сообщение" required></textarea>
                        <span asp-validation-for="Responsibilities" class="text-danger"></span>
                        @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                    </div>

                    @* <div class="form-group"> *@
                    @*     <body data-editor="ClassicEdit" data-collaboration="false" data-revision-history="false"> *@
                    @*     <div class="centered"> *@
                    @*         <div class="row row-editor"> *@
                    @*             <div class="editor-container"> *@
                    @*                 <textarea asp-for="Responsibilities" name="editorREQS" class="form-control" id="editorREQS" style="display: none;"></textarea> *@
                    @*                 <div class="editorREQS"></div> *@
                    @*             </div> *@
                    @*         </div> *@
                    @*     </div> *@
                    @*     </body> *@
                    @* </div> *@

                    @* <div class="form-group"> *@
                    @*     <input asp-for="Id" class="updateId" type="hidden"/> *@
                    @*     <label asp-for="PicSrc" class="control-label">Путь к изображению</label> *@
                    @*     <input asp-for="PicSrc" type="text" id="formPicSrc" class="form-control"> *@
                    @*     <span asp-validation-for="PicSrc" class="text-danger"></span> *@
                    @*     $1$ <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> #1# *@
                    @* </div> *@
                    
                    <div class="form-group">
                        <label asp-for="Image" class="control-label">Загрузить обложку (изображение)</label>
                        <div class="input-group mb-3">
                            <label class="btn btn-light border">
                                Нажмите, чтобы загрузить с устройства
                                <input asp-for="Image" type="file" class="form-control" id="inputGroupFile02" style="opacity: 0; position: absolute;">
                            </label>
                            <input asp-for="PicSrc" type="text" class="form-control" id="newsPicSrc" placeholder="Или адрес для загрузки по ссылке">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Закрыть</button>
                    <button id="btnSave" type="submit" class="btn btn-primary">Изменить</button>
                </div>
        </div>
    </div>
    </form>
</div>

@* Delete news *@
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="saveForm" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Удалить инструкцию</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <h5>Вы уверены, что хотите удалить эту инструкцию?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Закрыть</button>
                    <button id="btnDelete" type="button" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>
}


<script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>

@section Scripts
{
    <script>
        // function setupEditor(selector, valueSelector) {
        //     ClassicEditor
        //     .create(document.querySelector(selector))
        //     .then(editor => {
        //         // Синхронизация содержимого редактора с textarea при каждом изменении
        //         editor.model.document.on('change:data', () => {
        //             document.querySelector(valueSelector).value = editor.getData();
        //         });
        //
        //         // Установка начального содержимого из textarea в редактор
        //         editor.setData(``);
        //        
        //     })
        //     .catch(error => {
        //         console.error(error);
        //     });
        // }
        //
        // setupEditor('.editorREQ', '#editorREQ');
        // setupEditor('.editorRES', '#editorRES');

        
        $(document).ready(function () {
            $('#btnDelete').click(function () {
                                            var idD = $('#NewsId').val();
                                            $.ajax({
                                                type: "POST",
                                                url: "/Jobs/Delete/",
                                                data: { id: idD },
                                                success: function (result) {
                                                    if (result) 
                                                    {
                                                        $('#NewsId').val(null);
                                                        $('#DeleteModal').modal('hide');
                                                        window.location.href = "/Jobs";
                                                    }
                                                    else {
                                                        alert("Не удалось удалить инструкцию");
                                                    }
                                                }
                                            })
                                        })
        })
        
        var ConfirmDelete = function (id) {
                        $('#NewsId').val(id);
                        $('#DeleteModal').modal('show');
                    }
                    
        var EditForm = function (id) {
            $.ajax({
                type: "POST",
                url: "/Jobs/GetJobs/",
                data: { id: id },
                success: function (jobs) {
                    $('#EditModal').modal('show');
                    $('#formControlVacancy').val(jobs.vacancy);
                    $('#formPicSrc').val(jobs.picSrc);
                    $('#formControlResponsibilities').val(jobs.responsibilities);
                    $('#formControlRequirements').val(jobs.requirements);
                    $('.updateId').val(jobs.id);
                                
                    // Установите данные в ckeditor
                    // document.querySelectorAll('.editorREQP').forEach(editorElement => {
                    //                 ClassicEditor
                    //                     .create(editorElement)
                    //                     .then(editor => {  
                    //                         // Установка начального содержимого из news.content в редактор
                    //                         editor.setData(jobs.editorREQP);
                    //                        
                    //                         editor.model.document.on('change:data', () => {
                    //                             document.querySelector('#editorREQP').value = editor.getData();
                    //                         });
                    //                     })
                    //                     .catch(error => {
                    //                         console.error(error);
                    //                     });
                    //                                 editor.destroy();
                    //
                    //                
                    //                 ClassicEditor.destroy();
                    //             });
                    //
                    // document.querySelectorAll('.editorREQS').forEach(editorElement => {
                    //                 ClassicEditor
                    //                     .create(editorElement)
                    //                     .then(editor => {  
                    //                         // Установка начального содержимого из news.content в редактор
                    //                         editor.setData(jobs.editorREQS);
                    //                        
                    //                         editor.model.document.on('change:data', () => {
                    //                             document.querySelector('#editorREQS').value = editor.getData();
                    //                         });
                    //                     })
                    //                     .catch(error => {
                    //                         console.error(error);
                    //                     });
                    //                
                    //                 ClassicEditor.destroy();
                    //             });
                    
                }
            })
        }
</script>
}