@using POSTerminal.Services
@using Microsoft.IdentityModel.Tokens

@model JobsItem

@inject IJobsService JobsService

@{
    var title = "Вакансии";
}

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

<section class="light">
    <div class="h1 text-center text-dark mb-3" id="pageHeaderTitle">@title</div>
    <h5 class="text-center">тел. 552-15-15, 552-16-00</h5>
    <h5 class="text-center mb-5">hr@rtc.ru, i.ahmetova@rtc.ru</h5>
    @if (User.Identity.Name == "admin@rtc.ru")
    {
        <div class="newsActions">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#CreateModal">
                <i class="actionsBtn far fa-plus"> Добавить вакансию</i>
            </button>
        </div>
    }
        
    <input type="hidden" id="NewsId" />
    <div class="container py-2">
        @foreach (var jobsItem in JobsService.getJobs())
        {
        @* <article class="postcard light blue" data-bs-toggle="modal" data-bs-target="#modal-@jobsItem.Id"> *@
            <article class="postcard light blue">
                @if (!jobsItem.PicSrc.IsNullOrEmpty())
                {
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="@jobsItem.PicSrc" alt="Image Title"/>
                    </a>
                }
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title red">
                        <a href="#">@jobsItem.Vacancy</a>
                    </h1>

                    <h5>Обязанности</h5>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        @jobsItem.Responsibilities
                    </div>

                    <h5>Требования</h5>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        @jobsItem.Requirements
                    </div>
                    
                    @if (User.Identity.Name == "admin@rtc.ru")
                    {
                        <br/>
                        <div style="width: 100%; display: inline-flex; flex-wrap: nowrap">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal"
                                    onclick="event.stopPropagation(); EditForm(@jobsItem.Id);" id="showModal" style="width: 100%; margin-right: 5px">
                                <i class="actionsBtn far fa-trash-alt"> Редактировать</i>
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal"
                                    onclick="event.stopPropagation(); ConfirmDelete(@jobsItem.Id);" id="showModal" style="width: 100%">
                                <i class="actionsBtn far fa-trash-alt"> Удалить</i>
                            </button>
                        </div>
                    }
                </div>
            </article>
        }
    </div>
</section>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <form id="saveForm" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Добавить вакансию</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Vacancy" class="control-label">Вакансия</label>
                        <input asp-for="Vacancy" type="text" class="form-control">
                        <span asp-validation-for="Vacancy" class="text-danger"></span>
                        @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                    </div>
                    <div class="form-group">
                        <label asp-for="Requirements" class="control-label">Требования</label>
                        <textarea asp-for="Requirements" class="form-control" rows="3" placeholder="Ваше сообщение" required></textarea>
                        <span asp-validation-for="Requirements" class="text-danger"></span>
                        @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                    </div>
                    <div class="form-group">
                        <label asp-for="Responsibilities" class="control-label">Обязанности</label>
                        <textarea asp-for="Responsibilities" class="form-control" rows="3" placeholder="Ваше сообщение" required></textarea>
                        <span asp-validation-for="Responsibilities" class="text-danger"></span>
                        @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                    </div>
                    <div class="form-group">
                        <label asp-for="PicSrc" class="control-label">Путь к изображению</label>
                        <input asp-for="PicSrc" type="text" class="form-control">
                        <span asp-validation-for="PicSrc" class="text-danger"></span>
                        @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Закрыть</button>
                    <button id="btnSave" type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

    @* Delete news *@
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="saveForm" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Удалить инструкцию</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <h5>Вы уверены, что хотите удалить эту инструкцию?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Закрыть</button>
                    <button id="btnDelete" type="button" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>

    @* Edit news *@
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <form asp-action="Update" id="EditForm" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Редактировать инструкцию</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input asp-for="Id" class="updateId" type="hidden"/>
                            <label asp-for="Vacancy" class="control-label">Вакансия</label>
                            <input asp-for="Vacancy" type="text" id="formControlVacancy" class="form-control">
                            <span asp-validation-for="Vacancy" class="text-danger"></span>
                            @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                        </div>
                        <div class="form-group">
                            <input asp-for="Id" class="updateId" type="hidden" />
                            <label asp-for="Requirements" class="control-label">Требования</label>
                            <textarea asp-for="Requirements" class="form-control" id="formControlRequirements" rows="3" placeholder="Ваше сообщение" required></textarea>
                            <span asp-validation-for="Requirements" class="text-danger"></span>
                            @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                        </div>
                        <div class="form-group">
                            <input asp-for="Id" class="updateId" type="hidden" />
                            <label asp-for="Responsibilities" class="control-label">Обязанности</label>
                            <textarea asp-for="Responsibilities" class="form-control" id="formControlResponsibilities" rows="3" placeholder="Ваше сообщение" required></textarea>
                            <span asp-validation-for="Responsibilities" class="text-danger"></span>
                            @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                        </div>
                        <div class="form-group">
                            <input asp-for="Id" class="updateId" type="hidden" />
                            <label asp-for="PicSrc" class="control-label">Путь к изображению</label>
                            <input asp-for="PicSrc" type="text" id="formPicSrc" class="form-control">
                            <span asp-validation-for="PicSrc" class="text-danger"></span>
                            @* <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> *@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Закрыть</button>
                        <button id="btnSave" type="submit" class="btn btn-primary">Изменить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#btnSave').click(function () {
                    var jobsForm = $('#saveForm').serialize();
                    $.ajax({
                        type: "POST",
                        url: "/Jobs/Create/",
                        data: jobsForm,
                        success: function () {
                            $('#CreateModal').modal('hide');
                            window.location.href = "/Jobs";
                        }
                    })
                })
            $('#btnDelete').click(function () {
                                            var idD = $('#NewsId').val();
                                            $.ajax({
                                                type: "POST",
                                                url: "/Jobs/Delete/",
                                                data: { id: idD },
                                                success: function (result) {
                                                    if (result) 
                                                    {
                                                        $('#NewsId').val(null);
                                                        $('#DeleteModal').modal('hide');
                                                        window.location.href = "/Jobs";
                                                    }
                                                    else {
                                                        alert("Не удалось удалить инструкцию");
                                                    }
                                                }
                                            })
                                        })
        })
        
        var ConfirmDelete = function (id) {
                        $('#NewsId').val(id);
                        $('#DeleteModal').modal('show');
                    }
                    
        var EditForm = function (id) {
                        $.ajax({
                            type: "POST",
                            url: "/Jobs/GetJobs/",
                            data: { id: id },
                            success: function (jobs) {
                                $('#EditModal').modal('show');
                                $('#formControlVacancy').val(jobs.vacancy);
                                $('#formControlRequirements').val(jobs.requirements);
                                $('#formControlResponsibilities').val(jobs.responsibilities);
                                $('#formPicSrc').val(jobs.picSrc);
                                $('.updateId').val(jobs.id);
                                console.log(jobs)
                            }
                        })
                    }
</script>
}