@using Microsoft.IdentityModel.Tokens
@using POSTerminal.Services
@using POSTerminal.Views.News
@using Westwind.AspNetCore.Markdown

@inject INewsService NewsService

@model NewsItem

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

@{
    var title = "Новости РТК";
    var readButton = "Полный текст";
}

<section class="light">
    <div class="h1 text-center text-dark" id="pageHeaderTitle">@title</div>
    @if (User.Identity.Name == "admin@rtc.ru")
    {
        <div class="newsActions">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#CreateModal">
                <i class="actionsBtn far fa-plus"> Добавить новость</i>
            </button>
        </div>
    }
    
    <input type="hidden" id="NewsId" />
    <div class="container py-2">
        @foreach (var newsItem in NewsService.GetNews().Reverse())
        {
            <div>
                <article class="postcard light blue">
                    @if (newsItem.Image != null)
                    {
                        var base64Image = Convert.ToBase64String(newsItem.Image.Image);
                        <a class="postcard__img_link" data-bs-toggle="modal" data-bs-target="#modal-@newsItem.Id">
                            <img class="postcard__img" src="data:image/png;base64,@base64Image" alt="Image Title"/>
                        </a>
                    }
                    else if (!newsItem.PicSrc.IsNullOrEmpty())
                    {
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img" src="@newsItem.PicSrc" alt="Image Title"/>
                        </a>
                    }

                    <div class="postcard__text t-dark" data-bs-toggle="modal" data-bs-target="#modal-@newsItem.Id">
                        <h1 class="postcard__title red">
                            <a href="#">@newsItem.Title</a>
                        </h1>
                        <div class="postcard__subtitle small">
                            <time datetime="25-05-2023 12:00:00">
                                <i class="fa fa-calendar-alt mr-2"></i>@newsItem.PublishDate
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">
                            @Markdown.ParseHtmlString(
                                NewsAction.GetLimitedWords(newsItem.Content, 15))
                        </div>
                        @if (!newsItem.Tags.IsNullOrEmpty() && !newsItem.Author.IsNullOrEmpty() && !newsItem.TimeToRead.IsNullOrEmpty())
                        {
                            <ul class="postcard__tagbox">
                                @if (!newsItem.Tags.IsNullOrEmpty())
                                {
                                    <li class="tag__item">
                                        <i class="fa fa-tag mr-2"></i>@newsItem.Tags
                                    </li>
                                }
                                @if (!newsItem.Author.IsNullOrEmpty())
                                {
                                    <li class="tag__item">
                                        <i class="fas fa-user-tie mr-2"></i>@newsItem.Author
                                    </li>
                                }
                                @if (!newsItem.TimeToRead.IsNullOrEmpty())
                                {
                                    <li class="tag__item">
                                        <i class="fa fa-clock mr-2"></i>@newsItem.TimeToRead
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </article>
            </div>
            
            @* Show news details *@
            <div class="modal fade" id="modal-@newsItem.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-xl">
                    <div class="modal-content h-100">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">@newsItem.Title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @Markdown.ParseHtmlString(newsItem.Content)
                        </div>

                        <div class="modal-footer">
                            @if (User.Identity.Name == "admin@rtc.ru")
                            {
                                <button class="btn btn-primary" onclick="EditForm(@newsItem.Id);" id="EditForm">Редактировать</button>
                                <button class="btn btn-danger" onclick="ConfirmDelete(@newsItem.Id);" id="showModal">Удалить</button>
                            }
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@if (User.Identity.Name == "admin@rtc.ru")
{
    @* Add new news *@
    <div class="modal fade" id="CreateModal" tabindex="0" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true" style="">
        <form id="saveForm" asp-controller="News" asp-action="CreateNews" method="post" enctype="multipart/form-data">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Добавить новость</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label">Заголовок</label>
                            <input asp-for="Title" type="text" class="form-control" placeholder="Заголовок новости" required />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <br/>

                        <div class="form-group">
                            <body data-editor="ClassicEdit" data-collaboration="false" data-revision-history="false">
                            <div class="centered">
                                <div class="row row-editor">
                                    <div class="editor-container">                            
                                        <label asp-for="Content" class="control-label">Новость</label>
                                        <textarea asp-for="Content" class="form-control" id="editorN" style="display: none;"></textarea>
                                        <div class="editorN"></div>
                                    </div>
                                </div>
                            </div>
                            </body>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label asp-for="Image" class="control-label">Загрузить изображение</label>
                            <div class="input-group mb-3">
                                <label class="btn btn-light border">
                                    Нажмите, чтобы загрузить с устройства
                                    <input asp-for="Image" type="file" class="form-control" id="inputGroupFile02" style="opacity: 0; position: absolute;">
                                </label>
                                <input asp-for="PicSrc" type="text" class="form-control" id="newsPicSrc" placeholder="Или адрес для загрузки по ссылке">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @* Edit news *@
    <div class="modal fade" id="EditModal" tabindex="0" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" style="">
        <form id="EditForm" asp-controller="News" asp-action="EditNews" method="post" enctype="multipart/form-data">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Редактировать новость</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input asp-for="Id" class="updateId" type="hidden"/>
                            <label asp-for="Title" class="control-label">Заголовок</label>
                            <input asp-for="Title" class="form-control" id="newsTitle">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <br/>
                        
                        <div class="form-group">
                            <body data-editor="ClassicEdit" data-collaboration="false" data-revision-history="false">
                            <div class="centered">
                                <div class="row row-editor">
                                    <div class="editor-container">
                                        <label asp-for="Content" class="control-label">Новость</label>
                                        <textarea asp-for="Content" name="content" class="form-control" id="newsContent" style="display: none;"></textarea>
                                        <div class="editor"></div>
                                    </div>
                                </div>
                            </div>
                            </body>
                        </div>
                        
                        <br/>
                        <div class="form-group">
                        <label asp-for="Image" class="control-label">Загрузить обложку (изображение)</label>
                            <div class="input-group mb-3">
                                <label class="btn btn-light border">
                                    Нажмите, чтобы загрузить с устройства
                                    <input asp-for="Image" type="file" class="form-control" id="inputGroupFile02" style="opacity: 0; position: absolute;">
                                </label>
                                <input asp-for="PicSrc" type="text" class="form-control" id="newsPicSrc" placeholder="Или адрес для загрузки по ссылке">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Закрыть</button>
                        <button id="btnSave" type="submit" class="btn btn-primary">Изменить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    @* Delete news *@
    <div class="modal fade" id="DeleteModal" tabindex="0" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="saveForm" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Удалить новость</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        <h5>Вы уверены, что хотите удалить эту новость?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Закрыть</button>
                        <button id="btnDelete" type="button" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<script src="/Views/News/Index.cshtml.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>
@* <script src="~/modules/ckeditor5-doc/build/ckeditor.js"></script> *@

@section Scripts
{
    <script>
        ClassicEditor
            .create(document.querySelector('.editorN'))
            .then(editor => {
                editor.ui.view.editable.element.style.height = '300px';

                // Синхронизация содержимого редактора с textarea при каждом изменении
                editor.model.document.on('change:data', () => {
                    document.querySelector('#editorN').value = editor.getData();
                });

                // Установка начального содержимого из textarea в редактор
                editor.setData(``);

            })
            .catch(error => {
                console.error(error);
            });
        
        $(document).ready(function () {
            $('#btnDelete').click(function () {
                var idD = $('#NewsId').val();
                $.ajax({
                    type: "POST",
                    url: "/News/Delete/",
                    data: { id: idD },
                    success: function (result) {
                        if (result) 
                        {
                            $('#NewsId').val(null);
                            $('#DeleteModal').modal('hide');
                            window.location.href = "/News";
                        }
                        else {
                            alert("Не удалось удалить новость");
                        }
                    }
                })
            })
            $('.btnCancel').click(function () {
                            // $('#createModal').modal('hide');
                            window.location.href("/News");
                        })
        })
        
        var ConfirmDelete = function (id) {
            $('#NewsId').val(id);
            $('#DeleteModal').modal('show');
        }
        
        var EditForm = function(id) {
            $.ajax({
                type: "POST",
                url: "/News/GetNews/",
                data: { id: id },
                success: function(news) {
                    $('#EditModal').modal('show');
                    $('#newsTitle').val(news.title);
                    $('.updateId').val(news.id);
        
                    document.querySelectorAll('.editor').forEach(editorElement => {
                        if (editorElement.ckeditorInstance)
                        {
                            editorElement.ckeditorInstance.destroy().then(() => createEditorInstance(editorElement, news.content))
                                .catch(error => console.error(error));
                        }
                        else
                        {
                            createEditorInstance(editorElement, news.content);
                        }
                    });
                }
            })
        }
        
        function createEditorInstance(element, content) {
            ClassicEditor.create(element)
                .then(editor => {
                    editor.ui.view.editable.element.style.height = '300px';
                    editor.setData(content);

                    document.querySelector('#newsContent').value = editor.getData();
                    editor.model.document.on('change:data', () => {
                        document.querySelector('#newsContent').value = editor.getData();
                    });
        
                    element.ckeditorInstance = editor;
                })
                .catch(error => console.error(error));
        }
    </script>
}
