@using POSTerminal.Services

@model FeedbackItem

@inject IFeedbackService FeedbackService

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

<h2>Обратная связь</h2>
<br/>
<form id="saveForm" method="post">
    @* <div class="input-group mb-3"> *@
    @*     <span class="input-group-text">Контактная почта и имя</span> *@
    @*     <input asp-for="Mail" type="email" class="form-control use-keyboard-input" id="formControlEmail" placeholder="name@example.com" required /> *@
    @*     <input asp-for="Author" class="form-control use-keyboard-input" id="formControlContact" placeholder="Как к Вам обращаться?" /> *@
    @* </div> *@
    
    <div class="input-group mb-3">
        <span class="input-group-text">Ваша контактная почта</span>
        <input asp-for="Mail" data-kioskboard-type="all" data-kioskboard-placement="top" data-kioskboard-specialcharacters="true" class="form-control use-keyboard-en" id="formControlEmail" placeholder="name@example.com" required />
    </div>
    
    <div class="input-group mb-3">
        <span class="input-group-text">Ваше имя</span>
        <input asp-for="Author" data-kioskboard-type="all" data-kioskboard-placement="top" data-kioskboard-specialcharacters="true" class="form-control use-keyboard-ru" id="formControlContact" required />

    </div>
    
    <div class="input-group mb-3">
        <span class="input-group-text">Тема сообщения</span>
        <input asp-for="Title" data-kioskboard-type="all" data-kioskboard-placement="top" data-kioskboard-specialcharacters="true" class="form-control use-keyboard-ru" id="formControlTheme" required />

    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Ваше сообщение</span>
        <input asp-for="Message" data-kioskboard-type="all" data-kioskboard-placement="top" data-kioskboard-specialcharacters="true" class="form-control use-keyboard-ru" id="formControlTextarea" required />
    </div>

    <button id="btnSave" type="button" class="btn btn-primary">Отправить</button>
</form>

<br/>

@if (User.Identity.Name == "admin@rtc.ru")
        {
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Развернуть список обращений
                </button>
            </p>
            <div class="collapse" id="collapseExample" style="padding-bottom: 20px">
                <div class="card card-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Message</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Author</th>
                            <th scope="col">PublishDate</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var feedbackItems in FeedbackService.GetFeedbackItems().Reverse())
                        {
                            <tr>
                                <td>@feedbackItems.Title</td>
                                <td>@feedbackItems.Message</td>
                                <td>@feedbackItems.Mail</td>
                                <td>@feedbackItems.Author</td>
                                <td>@feedbackItems.PublishDate</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#btnSave').click(function () {
                var feedbackForm = $('#saveForm').serialize();
                $.ajax({
                    type: "POST",
                    url: "/Feedback/Create/",
                    data: feedbackForm,
                    success: function () {
                        window.location.href = "/";
                    }
                })
            })
        })
    </script>
}