@using POSTerminalWebApp.Services
@using POSTerminalWebApp.Views.Home
@using Westwind.AspNetCore.Markdown
@using Microsoft.IdentityModel.Tokens

@inject INewsService NewsService

<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

@{
    var title = "Новости РТК";
    var readButton = "Полный текст";
}

<section class="light">
    
    <div class="h1 text-center text-dark" id="pageHeaderTitle">@title</div>
    
    <div class="container py-2">
        @foreach (var newsItem in NewsService.GetNews())
        {
            <article class="postcard light blue" data-bs-toggle="modal" data-bs-target="#modal-@newsItem.Id">
                <a class="postcard__img_link" href="#">
                    @if(!newsItem.PicSrc.IsNullOrEmpty()){
                        <img class="postcard__img" src="@newsItem.PicSrc" alt="Image Title"/>
                    }
                </a>
                <div class="postcard__text t-dark">
                    @* <h1 class="postcard__title red"><a href="#">@newsTitle</a></h1> *@
                    <h1 class="postcard__title red">
                        <a href="#">@newsItem.Title</a>
                    </h1>
                    <div class="postcard__subtitle small">
                        <time datetime="25-05-2023 12:00:00">
                            <i class="fa fa-calendar-alt mr-2"></i>@newsItem.PublishDate
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        @Markdown.ParseHtmlString(
                            NewsAction.GetLimitedWords(newsItem.Content, 15))
                    </div>

                    <ul class="postcard__tagbox">
                        @if(!newsItem.Tags.IsNullOrEmpty()){
                            <li class="tag__item">
                                <i class="fa fa-tag mr-2"></i>@newsItem.Tags</li>
                        }
                        @if (!newsItem.Author.IsNullOrEmpty())
                        {
                            <li class="tag__item">
                                <i class="fas fa-user-tie mr-2"></i>@newsItem.Author
                            </li>
                        }
                        @if (!newsItem.TimeToRead.IsNullOrEmpty()){
                        <li class="tag__item">
                            <i class="fa fa-clock mr-2"></i>@newsItem.TimeToRead
                        </li>
                        }
                    </ul>
                </div>
            </article>

            <div class="modal fade" id="modal-@newsItem.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                @* TODO: Add "modal-*" property like "modal-lg" *@
                <div class="modal-dialog modal-dialog-scrollable modal-xl">
                    <div class="modal-content h-100">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">@newsItem.Title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @Markdown.ParseHtmlString(newsItem.Content)
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<script src="/Views/News/Index.cshtml.js" asp-append-version="true"></script>