<link rel="stylesheet" href="~/lib/font-awesome-5.15.4/css/all.css">

@{
	string picSrc = "https://images.unsplash.com/photo-1526297003708-f5a1c2c9c6e7?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjI0OTY1ODM&ixlib=rb-1.2.1&q=80";
	string title = "Новости РТК";
	string titleForDark = "Dark News Card";
	string titleForLight = "Light News Card";
	string newsTitle = "News Title";
	string newsDescription = "Петербургские чиновники хотят потратить 4 млн рублей на «живые шахматы» на Дворцовой площади. " +
	                         "Игру планируется провести 20 июля 2024 года и приурочить к 100-летию партии, сыгранной здесь большевиками в прошлом веке.\n" +
	                         "Как заявила глава администрации Центрального района Фёдорова, планируется использовать настоящих коней. " +
	                         "Кто будет играть ферзя и короля, чиновница не сказала.";
	string authorCat = "Author: ";
	string[] authors = new string[] { "Михаил Шашин", "Акинин Антон" };
	string[] tags = new string[] { "Слишком горячая новость", "NewsTag#2" };
	string timeToRead = "2 минуты";
	string readButton = "Полный текст";
	DateTime date = new DateTime(2024, 07, 20 , 18, 20, 0);
	string dateToString = date.ToString("dddd, dd MMMM yyyy").ToUpper();
}

@* <h1>News</h1> *@

<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">@title</div>

		<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				@* <img class="postcard__img" src="@picSrc" alt="Image Title" /> *@
			</a>
			<div class="postcard__text t-dark">
				@* <h1 class="postcard__title blue"><a href="#">@newsTitle</a></h1> *@
				<h1 class="postcard__title blue"><a href="#">Новость без изображения</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fa fa-calendar-alt mr-2"></i>@dateToString

					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">@newsDescription</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>@tags[0]</li>
					<li class="tag__item"><i class="fas fa-user-tie mr-2"></i>@authors[0]</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>@timeToRead</li>
				</ul>
				<ul class="postcard__tagbox">
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-glasses mr-2"></i>@readButton</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="@picSrc" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				@* <h1 class="postcard__title red"><a href="#">@newsTitle</a></h1> *@
				<h1 class="postcard__title red"><a href="#">Новость с изображением слева</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fa fa-calendar-alt mr-2"></i>@dateToString
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">@newsDescription</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fa fa-tag mr-2"></i>@tags[0]</li>
					<li class="tag__item"><i class="fas fa-user-tie mr-2"></i>@authors[1]</li>
					<li class="tag__item"><i class="fa fa-clock mr-2"></i>@timeToRead</li>
				</ul>
				<ul class="postcard__tagbox">
					<li class="tag__item play red">
						<a href="#"><i class="fas fa-glasses mr-2"></i>@readButton</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard light green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="@picSrc" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title green"><a href="#">Новость с изображением справа</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>@dateToString
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">@newsDescription</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fa fa-tag mr-2"></i>@tags[0]</li>
					<li class="tag__item"><i class="fas fa-user-tie mr-2"></i>@authors[0]</li>
					<li class="tag__item"><i class="fa fa-clock mr-2"></i>@timeToRead</li>
				</ul>
				<ul class="postcard__tagbox">
					<li class="tag__item play green">
						<a href="#"><i class="fas fa-glasses mr-2"></i>@readButton</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard light yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="@picSrc" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title yellow"><a href="#">@newsTitle</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fa fa-calendar-alt mr-2"></i>@dateToString
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">@newsDescription</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fa fa-tag mr-2"></i>@tags[0]</li>
					<li class="tag__item"><i class="fas fa-user-tie mr-2"></i>@authors[1]</li>
					<li class="tag__item"><i class="fa fa-clock mr-2"></i>@timeToRead</li>
				</ul>
				<ul class="postcard__tagbox">
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-glasses mr-2"></i>@readButton</a>
					</li>
				</ul>
			</div>
		</article>
	</div>
</section>


@* <section class="dark"> *@
@* 	<div class="container py-4"> *@
@* 		<h1 class="h1 text-center" id="pageHeaderTitle">@titleForDark</h1> *@
@* *@
@* 		<article class="postcard dark blue"> *@
@* 			<a class="postcard__img_link" href="#"> *@
@* 				$1$ <img class="postcard__img" src="@picSrc" alt="Image Title" /> #1# *@
@* 			</a> *@
@* 			<div class="postcard__text"> *@
@* 				<h1 class="postcard__title blue"><a href="#">@newsTitle</a></h1> *@
@* 				<div class="postcard__subtitle small"> *@
@* 					<time datetime="2020-05-25 12:00:00"> *@
@* 						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020 *@
@* 					</time> *@
@* 				</div> *@
@* 				<div class="postcard__bar"></div> *@
@* 				<div class="postcard__preview-txt">@newsDescription</div> *@
@* 				<ul class="postcard__tagbox"> *@
@* 					<li class="tag__item"><i class="fas fa-tag mr-2"></i>@tags[0]</li> *@
@* 					<li class="tag__item"><i class="fas fa-clock mr-2"></i>@timeToRead.</li> *@
@* 					<li class="tag__item play blue"> *@
@* 						<a href="#"><i class="fas fa-play mr-2"></i>@readButton</a> *@
@* 					</li> *@
@* 				</ul> *@
@* 			</div> *@
@* 		</article> *@
@* 		<article class="postcard dark red"> *@
@* 			<a class="postcard__img_link" href="#"> *@
@* 				<img class="postcard__img" src="@picSrc" alt="Image Title" />	 *@
@* 			</a> *@
@* 			<div class="postcard__text"> *@
@* 				<h1 class="postcard__title red"><a href="#">@newsTitle</a></h1> *@
@* 				<div class="postcard__subtitle small"> *@
@* 					<time datetime="2020-05-25 12:00:00"> *@
@* 						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020 *@
@* 					</time> *@
@* 				</div> *@
@* 				<div class="postcard__bar"></div> *@
@* 				<div class="postcard__preview-txt">@newsDescription</div> *@
@* 				<ul class="postcard__tagbox"> *@
@* 					<li class="tag__item"><i class="fas fa-tag mr-2"></i>@tags[0]</li> *@
@* 					<li class="tag__item"><i class="fas fa-clock mr-2"></i>@timeToRead.</li> *@
@* 					<li class="tag__item play red"> *@
@* 						<a href="#"><i class="fas fa-play mr-2"></i>@readButton</a> *@
@* 					</li> *@
@* 				</ul> *@
@* 			</div> *@
@* 		</article> *@
@* 		<article class="postcard dark green"> *@
@* 			<a class="postcard__img_link" href="#"> *@
@* 				<img class="postcard__img" src="@picSrc" alt="Image Title" /> *@
@* 			</a> *@
@* 			<div class="postcard__text"> *@
@* 				<h1 class="postcard__title green"><a href="#">@newsTitle</a></h1> *@
@* 				<div class="postcard__subtitle small"> *@
@* 					<time datetime="2020-05-25 12:00:00"> *@
@* 						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020 *@
@* 					</time> *@
@* 				</div> *@
@* 				<div class="postcard__bar"></div> *@
@* 				<div class="postcard__preview-txt">@newsDescription</div> *@
@* 				<ul class="postcard__tagbox"> *@
@* 					<li class="tag__item"><i class="fas fa-tag mr-2"></i>@tags[0]</li> *@
@* 					<li class="tag__item"><i class="fas fa-clock mr-2"></i>@timeToRead.</li> *@
@* 					<li class="tag__item play green"> *@
@* 						<a href="#"><i class="fas fa-play mr-2"></i>@readButton</a> *@
@* 					</li> *@
@* 				</ul> *@
@* 			</div> *@
@* 		</article> *@
@* 		<article class="postcard dark yellow"> *@
@* 			<a class="postcard__img_link" href="#"> *@
@* 				<img class="postcard__img" src="@picSrc" alt="Image Title" /> *@
@* 			</a> *@
@* 			<div class="postcard__text"> *@
@* 				<h1 class="postcard__title yellow"><a href="#">@newsTitle</a></h1> *@
@* 				<div class="postcard__subtitle small"> *@
@* 					<time datetime="2020-05-25 12:00:00"> *@
@* 						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020 *@
@* 					</time> *@
@* 				</div> *@
@* 				<div class="postcard__bar"></div> *@
@* 				<div class="postcard__preview-txt">@newsDescription</div> *@
@* 				<ul class="postcard__tagbox"> *@
@* 					<li class="tag__item"><i class="fas fa-tag mr-2"></i>@tags[0]</li> *@
@* 					<li class="tag__item"><i class="fas fa-clock mr-2"></i>@timeToRead.</li> *@
@* 					<li class="tag__item play yellow"> *@
@* 						<a href="#"><i class="fas fa-play mr-2"></i>@readButton</a> *@
@* 					</li> *@
@* 				</ul> *@
@* 			</div> *@
@* 		</article> *@
@* 	</div> *@
@* </section> *@